body {
  font-family: "Libre Franklin", sans-serif;
}
h1 {
  font-weight: 600;
  color: #b70038;
  margin-bottom: 0;
}
h2 {
  font-weight: 300;
  color: #5d7292;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 40px;
}
.header {
  margin-bottom: 64px;
}
.header .nav-line {
  background-image: url("/images/line.png");
  background-repeat: repeat-x;
  background-position: 0px 9px;
}
.header ul {
  position: relative;
  z-index: 1;
  display: inline-block;
  background-color: #fff;
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}
.header ul > li {
  display: inline-block;
  margin-right: 15px;
}
.header a {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;
}
.header a:hover {
  color: #b70038;
}
.header ul > li:last-child {
  margin-right: 0px;
}

.cards-container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 50px 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.header,
.footer {
  text-align: center;
}
@media (max-width: 599px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
  .details-container {
    grid-template-columns: 1fr;
  }
  .detail-image {
    height: 200px;
  }
  .header,
  .footer,
  .date {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
@media (min-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .details-container {
    grid-template-columns: 1fr 1fr;
  }
  .detail-image {
    height: 300px;
  }
  .header,
  .footer,
  .date {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 900px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .details-container {
    grid-template-columns: 1fr 2fr;
  }
  .detail-image {
    height: 400px;
  }
  .header,
  .footer,
  .date {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.card a {
  text-decoration: none;
  color: #222;
  font-size: 19px;
  font-weight: 500;
}
.card a:active,
.card a:focus,
.card a:hover {
  color: #b70038;
}
.card a > .card-image:hover {
  -webkit-box-shadow: 1px 1px 10px 3px rgba(204, 204, 204, 1);
  -moz-box-shadow: 1px 1px 10px 3px rgba(204, 204, 204, 1);
  box-shadow: 1px 1px 10px 3px rgba(204, 204, 204, 1);
}
.card-image {
  background-color: #f4f6f8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding-top: 250px;
}
.card-content {
  padding-top: 15px;
}
.card-content p {
  margin: 8px 0;
  font-weight: 600;
}
.card-date {
  font-size: 12px;
  color: #5d738d;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card-tags {
  padding-left: 8px;
  border-left: solid 2px #b70038;
  font-size: 12px;
  color: #5d738d;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.details-container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0px;
  max-width: 1200px;
  margin: 0 auto;
}
.detail-image {
  background-color: #f4f6f8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.detail-title {
  background-color: #f4f6f8;
  padding: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #ecf0f1 #ecf0f1 #ecf0f1 #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.detail-title h1 {
  color: black;
  margin-top: auto;
}
.detail-title p {
  font-size: 12px;
  color: #5d738d;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
.detail-body {
  padding: 20px;
  line-height: 1.5;
}
.detail-body img {
  max-width: 100%;
  height: auto;
  border: solid 1px #f4f6f8;
}

.footer {
  padding: 64px 0;
  background-color: #f4f6f8;
}
.date {
  background-color: #f4f6f8;
  border: 1px solid #ecf0f1;
  padding: 5px 32px;
  font-size: 19px;
}
